@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  /* PRIMARY COLORS: */
  --very-dark-blue: hsl(233, 47%, 7%); /* main background */
  --dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
  --soft-violet: hsl(277, 64%, 61%);

  /* NEUTRAL COLORS */
  --white: hsl(0, 0%, 100%);
  --transparent-white-paragraph: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --transparent-white-heading: hsla(0, 0%, 100%, 0.6); /* stat headings */
}

@media (max-width: 37.5rem) {
  .card {
    width: 360px;
  }
}

body {
  background-color: var(--very-dark-blue);
}
header {
  line-height: 0;
  position: relative;
  filter: contrast(1.5);
}

header img {
  width: 100%;
}

header .overlay {
  background: var(--soft-violet);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}

main {
  background-color: var(--dark-desaturated-blue);
  padding: 45px 35px 40px;
}

main .info h1 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

main .insights {
  color: var(--soft-violet);
}

main .info p {
  color: var(--transparent-white-paragraph);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.7;
}

main .stats {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
}

main .stats ul li {
  color: var(--white);
  list-style: none;
}

main .stats ul li:nth-child(odd) {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 8px;
}

main .stats ul li:nth-child(even) {
  color: var(--transparent-white-heading);
  font-size: 11px;
  font-family: "Lexend Deca";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

main .stats ul li:nth-child(5) {
  text-transform: uppercase;
}

main .stats ul li:nth-child(even):not(:last-child) {
  margin-bottom: 30px;
}

.card {
  padding: 23px;
  border-radius: 5%;
}
