@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  /* PRIMARY COLORS: */
  --very-dark-blue: hsl(233, 47%, 7%); /* main background */
  --dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
  --soft-violet: hsl(277, 64%, 61%);

  /* NEUTRAL COLORS */
  --white: hsl(0, 0%, 100%);
  --transparent-white-paragraph: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --transparent-white-heading: hsla(0, 0%, 100%, 0.6); /* stat headings */
}

@media (max-width: 37.5rem) {
  .card {
    width: 350px;
    height: 870px;
  }
}

header {
  line-height: 0;
  position: relative;
  filter: contrast(1.5);
}

header img {
  width: 100%;
}

header .overlay {
  width: 100%;
  height: 100%;
  background: var(--soft-violet);
  opacity: 0.5;
  position: absolute;
}
